In [20]:
import psycopg2
from psycopg2.extras import DictCursor
import pandas as pd
import os
os.environ['POSTGRESQL_USER'] = 'your_username'
os.environ['POSTGRESQL_PASSWORD'] = 'your_password'
import seaborn as sns
!pip install matplotlib
from matplotlib import pyplot as plt
sql_host = '10.129.0.25'
def get_query(query: int):
    with psycopg2.connect(
        dbname = 'demo',
        user = os.environ['POSTGRESQL_USER'],
        password = os.environ['POSTGRESQL_PASSWORD'],
        host = sql_host
    )as c:
        with c.cursor() as cur:
            cur.execute(query)
            res = cur.fetchall()
            return res

Requirement already satisfied: matplotlib in /opt/anaconda3/lib/python3.11/site-packages (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy<2,>=1.21 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [ ]:
# Which fare conditions are available for flights from AER to SVO (i.e. from Adler/Sochi to Sheremetevo/Moscow)

In [24]:
query_1 = """
    SELECT DISTINCT fare_condition 
    FROM flights 
    WHERE arrival_airport = 'SVO' AND departure_airport = 'AER'
"""
fare_conditions = get_query(query_1)
print("Fare conditions for flights from AER to SVO:", fare_conditions)

Operational error: could not connect to server: Operation timed out
	Is the server running on host "10.129.0.25" and accepting
	TCP/IP connections on port 5432?

Fare conditions for flights from AER to SVO: None

In [25]:
# A list of aircraft models which fly to the Yakutsk AND Abakan cities

In [26]:
query_2 = """
    SELECT DISTINCT aircraft_code 
    FROM flights 
    WHERE arrival_airport IN ('YAK', 'ABA') 
    GROUP BY aircraft_code 
    HAVING COUNT(DISTINCT arrival_airport) = 2
"""
aircraft_models_both = get_query(query_2)
print("Aircraft models flying to both Yakutsk and Abakan:", aircraft_models_both)

Operational error: could not connect to server: Operation timed out
	Is the server running on host "10.129.0.25" and accepting
	TCP/IP connections on port 5432?

Aircraft models flying to both Yakutsk and Abakan: None

In [ ]:
# A list of aircraft models which fly to the Yakutsk OR Abakan cities

In [27]:
query_3 = """
    SELECT DISTINCT aircraft_code 
    FROM flights 
    WHERE arrival_airport IN ('YAK', 'ABA')
"""
aircraft_models_either = get_query(query_3)
print("Aircraft models flying to either Yakutsk or Abakan:", aircraft_models_either)

Operational error: could not connect to server: Operation timed out
	Is the server running on host "10.129.0.25" and accepting
	TCP/IP connections on port 5432?

Aircraft models flying to either Yakutsk or Abakan: None

In [ ]:
# A list of aircrafts which DONâ€™T fly to Yakutsk city

In [28]:
query_4 = """
    SELECT DISTINCT aircraft_code 
    FROM flights 
    WHERE aircraft_code NOT IN (SELECT DISTINCT aircraft_code FROM flights WHERE arrival_airport = 'YAK')
"""
aircraft_not_to_yakutsk = get_query(query_4)
print("Aircraft models not flying to Yakutsk:", aircraft_not_to_yakutsk)

Operational error: could not connect to server: Operation timed out
	Is the server running on host "10.129.0.25" and accepting
	TCP/IP connections on port 5432?

Aircraft models not flying to Yakutsk: None

In [ ]:
# Find out airport codes related to Mrs. 'ELLA DMITRIEVA'  - from where and to where she flew.

In [29]:
query_5 = """
    SELECT DISTINCT departure_airport, arrival_airport 
    FROM flights 
    WHERE passenger_name = 'ELLA DMITRIEVA'
"""
airport_codes_ella = get_query(query_5)
print("Airport codes related to Mrs. ELLA DMITRIEVA:", airport_codes_ella)

Operational error: could not connect to server: Operation timed out
	Is the server running on host "10.129.0.25" and accepting
	TCP/IP connections on port 5432?

Airport codes related to Mrs. ELLA DMITRIEVA: None